<div class="container p-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Pozostańmy w kontakcie</h2>
            <hr class="my-4">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1" style="visibility: visible;"></i>
            <p>Justyna: 603-623-311</p>
            <p>Adam: 731-986-785</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2" style="visibility: visible;"></i>
            <p>
                <a style="text-decoration: none; color: black;" href="mailto:justa8.97@o2.pl">Justyna: justa8.97@o2.pl</a>
            </p>
            <p>
                <a style="text-decoration: none; color: black;" href="mailto:adam.kap@interia.pl">Adam: adam.kap@interia.pl</a>
            </p>
        </div>
    </div>
</div>
