<div class="card-columns" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="1">
    <div class="card" *ngFor="let photo of photos ;trackBy: trackId">
      <img class="card-img-top"
        [src]="'data:' + photo.photographyContentType + ';base64,' + photo.photography"
        alt="Card image cap"
        (click)="openModal(photo, gallery)">
    </div>
</div>
<div *ngIf="loader" class="loader"></div>
<ng-template #gallery let-c="close()" let-d="dismiss()">
    <div class="modal-body">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" [src]="'data:' + selectedPhoto.photographyContentType + ';base64,' + selectedPhoto.photography">
            </div>
        </div>
        </div>
    </div>
</ng-template>
